<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password - EmpowerFund</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="login-page-split">

  <div class="login-container">
    <div class="login-welcome-panel">
      <h2>Set a New Password</h2>
      <p>Please enter a new password for your account below.</p>
    </div>

    <div class="login-form-panel">
      <h3>Create New Password</h3>
      
      <% if (messages.error && messages.error.length > 0) { %>
       <div class="alert alert-error"><%= messages.error %></div>
      <% } %>

      <form action="/api/users/reset-password/<%= token %>" method="POST">
        <div class="form-group icon-group">
          <i class="fa-solid fa-lock form-icon"></i>
          <input type="password" id="password" name="password" placeholder="New Password" required>
        </div>
        <div class="form-group icon-group">
            <i class="fa-solid fa-lock form-icon"></i>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm New Password" required>
          </div>
        
        <button type="submit" class="btn btn-login">Update Password</button>
      </form>
    </div>
  </div>

</body>
</html>